<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue List</title>
</head>

<body>
    <style>
        #app div {
            margin: 5px 10px;
        }

        #preview{
            width: 50px;
            height: 50px;
        }
    </style>

    <!-- <h1>Hello</h1>
    <div id="app">
        <div v-if="showBooks">
            <ul>
                <li v-for="book in books">
                    {{book.title}} | {{book.author}}
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks"> -->
            <!-- Way 3 -->
            <!-- <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    </div> -->

    <input type="text" name="color" id="color">

    <div id="preview"></div>

    <!-- Vue Script -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- My JS -->
    <script src="./script/script.js"></script>
</body>

</html>